***Utilizando librería pandas***

Serie es un objeto de pandas diseñado para representar una estructura de una sola dimensión, los objetos de tip serie poseen dos arreglos uno para almacenar los valores y el segundo para alamcenar los índices

pd.series([1,2,3,4,5])

para poder asignar un nombre a la serie de datos y especificar el tipo de datos que se quiere almacenar se utiliza la siguiente sintaxis
pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], name = 'Numeros', dtype= str)

In [ ]:
import pandas as pd # Importar librería pandas
import numpy as np # Importar librería numpy
a = pd.Series([1,2,3,4,5])
print(a.size)
print(a.dtype)
print(a.index)

# actualizar valores de la serie
a[0] = 0
print(a)

#para poder procionar los indices a una serie en pandas se utiliza la siguiente sintaxis

b = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(b)

# actualizar valores mediante los indices
b['a'] = 0
print(b)

5
int64
RangeIndex(start=0, stop=5, step=1)
0    0
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64
a    0
b    2
c    3
d    4
e    5
dtype: int64

#

Creación de series

Creación de series mediante diccionarios

colores={
    'rojo': 100, 
    'azul' : 200,
    'Blanco' : 300
}

a = pd.series(colores)

la función series puede recibir como valor un diccionarios

Dataframe
un dataframe se encuentra confrmado por columnas y filas
dicionaro
pd.Dataframe(diccionario)
columnas = llaves del diccionario
filas = valores del diccionario

de igual manera se pueden definir los indices mediante la sentencia index = 
en la creación del dataframe

Obtener la información de los dataframes
* data['username'] al ejecutar es sentencia se obtiene una serie con los valores de la columna

* data['age']['a'] de este manera se obtiene el dato de la columna e indices indicadores

*data.columna se obtiene la misma información pero sin usar llaves aunque lo habitual es usarlo siempre mediante llaves

*data.columns para conocer todas las columnas que conforman el dataframe
* data.values para conocer los valores del dataframe

*COLUMNAS DEL DATA FRAME*

las columnas son igual a series

para poder agregar los valores correctos acorde a los indices es necesario especificar los indices en la serie acorde a los indices presentes en el dataframe.

In [ ]:
diccionario = {
    'name': ['Juan', 'Pedro', 'Maria'],
    'age': [20, 30, 40],
    'gender': ['M', 'M', 'F']
}

data = pd.DataFrame(diccionario)
data.columns

calififcaciones = pd.Series(np.random.randint(0,10, 3))

#añadiendo una columna
data['calificaciones'] = calififcaciones
print(data)

#renombrar las columnas

data = data.rename(
    columns={'calificaciones': 'score'}
)
print(data)

#eliminar columnas

del data['score']
data

    name  age gender  calificaciones
0   Juan   20      M               3
1  Pedro   30      M               8
2  Maria   40      F               4
    name  age gender  score
0   Juan   20      M      3
1  Pedro   30      M      8
2  Maria   40      F      4

    name  age gender
0   Juan   20      M
1  Pedro   30      M
2  Maria   40      F

*LEER ARCHVISO CSV*
pd.read_csv(archivo)

se puede especificar que columna se requiere como indice

se uede utilizar el método head para visualizar las filas indicadas
y el método tail las últimas 5 por default

In [ ]:
df = pd.read_csv('results.csv', index_col='date')
df.tail(10)

,home_team,away_team,home_score,away_score,tournament,city,country,neutral
date,,,,,,,,
2023-07-04,Guadeloupe,Guatemala,2,3,Gold Cup,Harrison,United States,True
2023-07-04,Canada,Cuba,4,2,Gold Cup,Houston,United States,True
2023-07-08,Panama,Qatar,4,0,Gold Cup,Arlington,United States,True
2023-07-08,Mexico,Costa Rica,2,0,Gold Cup,Arlington,United States,True
2023-07-09,Guatemala,Jamaica,0,1,Gold Cup,Cincinnati,United States,True
2023-07-09,United States,Canada,2,2,Gold Cup,Cincinnati,United States,False
2023-07-12,United States,Panama,1,1,Gold Cup,San Diego,United States,False
2023-07-12,Jamaica,Mexico,0,3,Gold Cup,Paradise,United States,True
2023-07-16,Kernow,Sápmi,2,1,CONIFA World Football Cup qualification,Falmouth,England,False
2023-07-16,Mexico,Panama,1,0,Gold Cup,Inglewood,United States,True

*LIMPIEZA DE DATOS*

En numpy y pandas la ausencia de datos e representa como NaN

para poder limpiar la data se tienen las siguientes maneras:
* Método dropna() que elimina las filas que contengan datos nulos
* data.fillna(valor a colocar) genera un nuevo df donde sustituye los valores nulos por las leyendas indicadas

* Se recomienda rellenar mediante un diccionario es decir: data.fillna({'name' : 'Sin nombre', 'email' : 'example@example.com'})

**Atributo loc** se usa para obtener filas con índices del tipo string
data.loc['a':'c'] con esta sntaxis se obtienen los valores de las columnas con indices del a al c
data.loc['a':'c', ['username', 'email']]

o bien
data.loc['a':'c'][['username', 'email']]

todo esto genera subdata frames


**ATRIBUTO ILOC**

Se usa para trabajar indices del tipo entero
* data.iloc[0]
* data.iloc[1:5] traera valores del rango de índices indicados
* data.iloc[:5, [0,2,4]] traera los valores de indices y columnas indicadas
* data.iloc[:3][['name', 'gender']]  traera la misma información que el punto de arriba solo que es un poco mas legible

**CONDICIONALES**
* Obtener todos los resultados que sean de dos o más goles
* Obtener el nombre de las selecciones que hayan disputado un partido en MADRID
* Obtener el promedio de goles de los equipos locales que hayan disputado partidos en Estados Unidos

In [ ]:
df = df.dropna()
df[df['home_score']>=2][['home_team', 'away_team']]

                home_team   away_team
date
1873-03-08        England    Scotland
1874-03-07       Scotland     England
1875-03-06        England    Scotland
1876-03-04       Scotland     England
1876-03-25       Scotland       Wales
...                   ...         ...
2023-07-04         Canada        Cuba
2023-07-08         Panama       Qatar
2023-07-08         Mexico  Costa Rica
2023-07-09  United States      Canada
2023-07-16         Kernow       Sápmi

[20674 rows x 2 columns]

In [ ]:
df = df[(df['city'] == 'Madrid') & (df['home_score'] >= 2)]
df

,home_team,away_team,home_score,away_score,tournament,city,country,neutral
date,,,,,,,,
1921-12-18,Spain,Portugal,3,1,Friendly,Madrid,Spain,False
1929-05-15,Spain,England,4,3,Friendly,Madrid,Spain,False
1933-05-21,Spain,Bulgaria,13,0,Friendly,Madrid,Spain,False
1934-03-11,Spain,Portugal,9,0,FIFA World Cup qualification,Madrid,Spain,False
1935-01-24,Spain,France,2,0,Friendly,Madrid,Spain,False
1936-01-19,Spain,Austria,4,5,Friendly,Madrid,Spain,False
1948-03-21,Spain,Portugal,2,0,Friendly,Madrid,Spain,False
1950-04-02,Spain,Portugal,5,1,FIFA World Cup qualification,Madrid,Spain,False
1951-02-18,Spain,Switzerland,6,3,Friendly,Madrid,Spain,False
1952-06-01,Spain,Republic of Ireland,6,0,Friendly,Madrid,Spain,False
1952-12-28,Spain,Germany,2,2,Friendly,Madrid,Spain,False
1954-01-06,Spain,Turkey,4,1,FIFA World Cup qualification,Madrid,Spain,False
1957-01-30,Spain,Netherlands,5,1,Friendly,Madrid,Spain,False
1957-03-10,Spain,Switzerland,2,2,FIFA World Cup qualification,Madrid,Spain,False
1957-05-26,Spain,Scotland,4,1,FIFA World Cup qualification,Madrid,Spain,False
1958-10-15,Spain,Northern Ireland,6,2,Friendly,Madrid,Spain,False
1959-10-14,Spain,Poland,3,0,UEFA Euro qualification,Madrid,Spain,False
1960-05-15,Spain,England,3,0,Friendly,Madrid,Spain,False
1961-04-02,Spain,France,2,0,Friendly,Madrid,Spain,False
1961-11-23,Spain,Morocco,3,2,FIFA World Cup qualification,Madrid,Spain,False
1962-11-01,Spain,Romania,6,0,UEFA Euro qualification,Madrid,Spain,False
1963-06-13,Spain,Scotland,2,6,Friendly,Madrid,Spain,False
1964-06-17,Spain,Hungary,2,1,UEFA Euro,Madrid,Spain,False
1964-06-21,Spain,Russia,2,1,UEFA Euro,Madrid,Spain,False
1967-10-22,Spain,Czechoslovakia,2,1,UEFA Euro qualification,Madrid,Spain,False
1970-02-21,Spain,Italy,2,2,Friendly,Madrid,Spain,False
1972-05-23,Spain,Uruguay,2,0,Friendly,Madrid,Spain,False
1977-10-26,Spain,Romania,2,0,FIFA World Cup qualification,Madrid,Spain,False
1978-01-25,Spain,Italy,2,1,Friendly,Madrid,Spain,False
1982-07-01,Austria,Northern Ireland,2,2,FIFA World Cup,Madrid,Spain,True
1982-07-04,France,Northern Ireland,4,1,FIFA World Cup,Madrid,Spain,True
1982-07-11,Italy,Germany,3,1,FIFA World Cup,Madrid,Spain,True
1987-02-18,Spain,England,2,4,Friendly,Madrid,Spain,False
1995-09-20,Spain,Argentina,2,1,Friendly,Madrid,Spain,False
2000-10-07,Spain,Israel,2,0,FIFA World Cup qualification,Madrid,Spain,False
2003-04-30,Spain,Ecuador,4,0,Friendly,Madrid,Spain,False
2005-11-12,Spain,Slovakia,5,1,FIFA World Cup qualification,Madrid,Spain,False
2007-03-24,Spain,Denmark,2,1,UEFA Euro qualification,Madrid,Spain,False
2007-11-17,Spain,Sweden,3,0,UEFA Euro qualification,Madrid,Spain,False
2009-11-14,Spain,Argentina,2,1,Friendly,Madrid,Spain,False
2011-03-26,Colombia,Ecuador,2,0,Friendly,Madrid,Spain,True
2012-05-22,Albania,Qatar,2,1,Friendly,Madrid,Spain,True
2013-02-06,Chile,Egypt,2,1,Friendly,Madrid,Spain,True
2017-09-02,Spain,Italy,3,0,FIFA World Cup qualification,Madrid,Spain,False
2018-03-27,Spain,Argentina,6,1,Friendly,Madrid,Spain,False
2019-06-10,Spain,Sweden,3,0,UEFA Euro qualification,Madrid,Spain,False
2019-11-18,Spain,Romania,5,0,UEFA Euro qualification,Madrid,Spain,False
2020-09-06,Spain,Ukraine,4,0,UEFA Nations League,Madrid,Spain,False

In [ ]:
df[df['country'] == 'United States']['home_score'].mean()

1.5320754716981133

* Obtener los 5 mayores resultados de selecciones con juegos disputados en Estados Unidos

In [ ]:
df= df[df['country'] == 'United States'].sort_values('home_score', ascending=False).head(5)

**Búsqueda por rangos**

* Obtener todos los resultados de local entre 4 y 6 goles, con partidos disputados en Francia

In [ ]:
df = df[df['home_team'].between(4, 6)]

**Búsqueda entre opciones**
* Obtener el nombre de las selecciones con home score mayor a 5 y con partidos disputados en Francia, Canada e Inglaterra

In [ ]:
df = df[(df['home_score']>5) & (df['country'].isin(['France', 'Canada', 'England']))]

**Métodos de strings**

* startswith
* endswith
* contains

In [ ]:
df = df[df['country'].str.contains('F')]
df = df[df['country'].str.endswith('e')]
df = df[df['country'].str.startswith('S')]

**Agrupamiento**
* Mostrar en consola la cantidad de partidos disputados por México
* Mostrar el país con más partidos disputados en Estados Unidos y Francia

Siempre que se quiera agrupar se hace mediante groupby lo que dar por resultados un objeto del tipo series groupby a las cuales se les pueden aplicar métodos de agregación.

In [ ]:
df = df.groupby('country')['country'].count()
df = df[df['country'].isin(['United States', 'France'])].groupby('country')['country'].count().sort_values(ascending=False)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=6c820961-5673-4573-9114-2abcdd40ad63' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>